/***********************************/
/* FILE CONTENT */
/***********************************/
/* 
  -CUSTOM PROPERTIES

  -BASIC RESET

  -TYPOGRAPHY
  --Headings

  -MAIN LAYOUT
  --Container
  --Header
  --Hero
  --Footer
 
  -COMPONENTS
  --Form
  --Button
  --Social Nav

  -UTIL CLASSES

  -RESPONSIVE STYLING
  --Small Devices (576px)
  --Medium Devices (768px)
  --Large Devices (992px)
  --X-Large Devices (1200px)
  --XX-Large Devices (1400px)
*/

/***********************************/
/* Custom Properties */
:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(210, 32%, 12%);

  /* Fonts */
  --font-body: 'Libre Franklin', sans-serif;
}

/***********************************/
/* Basic Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--very-dark-blue);
  font-family: var(--font-body);
  font-size: 1.2rem;
  font-weight: 300;
}

img {
  width: 100%;
  display: inline-block;
}

/***********************************/
/* Typography */

/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
}

/***********************************/
/* Main Layout */

/* Container */
.container {
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  max-width: 69.6rem;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  padding-top: 8rem;
  padding-bottom: 3.2rem;
  text-align: center;
}

.header__logo:link,
.header__logo:visited,
.header__logo:hover,
.header__logo:active {
  text-decoration: none;
  display: inline-block;
  width: 5.6rem;
}

.header__logo-img {
}

/* Hero */
.hero {
  text-align: center;
  padding-bottom: 8rem;
}

.hero__text-content {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
}

.hero__title {
  color: var(--gray);
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
}

.hero__title--bold {
  color: var(--very-dark-blue);
  font-weight: 700;
}

.hero__description {
  margin-bottom: 3.2rem;
}

/* Footer */
.footer {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}

.footer__copyright-text {
  font-size: 1rem;
  color: var(--gray);
  text-align: center;
  margin-top: 2.8rem;
}

/***********************************/
/* Components */

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form__feedback {
  text-align: left;
  font-size: 1.2rem;
  padding-left: 1.6rem;
  font-style: italic;
}

.form__feedback--valid {
  color: var(--blue);
}

.form__feedback--invalid {
  color: var(--light-red);
}

.form__input {
  padding: 1rem 3.2rem;
  border: 1px solid var(--pale-blue);
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 50rem;
}

.form__input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--blue);
}

.form__input::placeholder {
  color: var(--pale-blue);
}

/* Buttons */
.btn,
.btn:link,
.btn:visited,
.btn:hover,
.btn:active {
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 600;
  border: none;
  padding: 1.2rem 4.8rem;
  border-radius: 50rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem 0.2rem rgba(76, 123, 243, 0.25);
}

.btn--primary,
.btn-primary:link,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:active {
  color: var(--white);
  background-color: var(--blue);
}

/* Social Nav */
.social-nav {
  display: flex;
  justify-content: center;
}

.social-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.2rem;
}

.social-nav__item {
}

.social-nav__link:link,
.social-nav__link:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  color: var(--blue);
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(76, 123, 243, 0.15);
  transition: all 0.3s ease;
}

.social-nav__link:hover,
.social-nav__link:active {
  border-color: transparent;
  background-color: var(--blue);
  color: var(--white);
}

/***********************************/
/* Util Classes */
.d-none {
  display: none;
}

/**************************************/
/* Responsive styling */
/**************************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 2rem;
  }

  .header {
    padding-top: 8.5rem;
    padding-bottom: 4.2rem;
  }

  .header__logo:link,
  .header__logo:visited,
  .header__logo:hover,
  .header__logo:active {
    width: 9rem;
  }

  .hero {
    padding-bottom: 2.4rem;
  }

  .hero__text-content {
    padding: 0;
    margin-bottom: 9.4rem;
  }

  .hero__title {
    font-size: 4.8rem;
    line-height: 6rem;
  }

  .hero__description {
    margin-bottom: 4rem;
  }

  .footer {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }

  .footer__copyright-text {
    font-size: 1.2rem;
  }

  .form {
    flex-direction: row;
    gap: 1.6rem;
    align-items: start;
  }

  .form__group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 0;
  }

  .form__feedback {
    font-size: 1.4rem;
    padding-left: 3rem;
  }

  .form__input {
    padding: 1.8rem 3.2rem;
    font-size: 1.6rem;
  }

  .form__input::placeholder {
    color: var(--pale-blue);
  }

  .btn,
  .btn:link,
  .btn:visited,
  .btn:hover,
  .btn:active {
    font-size: 1.6rem;
    padding: 2rem 6.2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
